/* .leftnav{
    width: 200px;
    height: 620px;
    /* background-color: #4783DA; */
    /* margin-left: 100px; */
    /* text-align: center; */

/* }  */
 /* .el-menu-item{
    font-size: 16px  !important;
}

.img2{
    width: 30px;
    height: 30px;
    /* border: 1px solid #000; */
    /* margin-right: 5px; */
/* }    */